body {
	margin: 0;
    color: white;
    font-family: monospace;
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-color: black;
	-webkit-user-select: none;
}

#score { 
	position: absolute;
	top: 20;
	left: 280;
	font-weight: bold;
}

#comment {
	position: absolute;
	top: 400;
	left: 135;
	font-size: 12;
	font-weight: bold;
	visibility: hidden;
}

#message {
	position: absolute;
	top: 420;
	left: 40;
	font-size: 12;
	font-weight: bold;
	visibility: hidden;
}